body {
    display: flex;
    font-family: "Roboto", sans-serif;
    width: 100%;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Header CSS Section */

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px 80px 200px;
    background-color: #1F2937;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Mid CSS Section */

.top-mid {
    display: flex;
    background-color: #1F2937;
    padding: 80px 200px 200px 200px;
}

.left {
    align-content: center;
    width: 450px;
    flex-shrink: 0;
}

.left h1 {
    margin-top: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
    margin-bottom: 20px;
}

.sign-up {
    width: 100px;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    font-weight: bold;
    margin-bottom: 50px;
}

.right {
    display: flex;
    margin-left: 50px;
    background-color: #8493a8;
    color: #F9FAF8;
}

.right img {
    width: 100%;
    height: 100%;
}


/* Random Info Section */

.random-info {
    display: flex;
    flex-direction: column;
    padding: 100px 300px 100px 300px;

}

.title h1{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images {
    display: flex;
    justify-content: space-between;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    max-width: 200px;
}

.image img {
    height: 125px;
    width: auto;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.image p {
    text-align: center;
}

/* Quote Section */

.quote {
    display: flex;
    height: 500px;
    padding: 50px 410px 50px 410px;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.quote h4 {
    text-align: end;
    margin-right: 40px;
    color: #1F2937;
    font-weight: bold;
}

/* CTA Section */

.cta {
    display: flex;
    margin: 150px;
    padding: 20px 50px 20px 50px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
}

.cta h2 {
    margin-bottom: 0px;
}

.cta h4 {
    margin-top: 10px;
    font-weight: 500;
}

.sign-up-cta {
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px 30px 5px 30px;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    background-color: #3882F6;
}

/* Footer Section */

.footer {
    width: 100%;
    height: 100px;
    color: #F9FAF8;
    background-color: #1F2937;
    align-content: center;
    text-align: center;
}