@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar CSS */
.nav-hero {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    background-color: #1F2937;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px 400px 20px 400px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.links-section {
    display: flex;
    gap: 20px;
}

.links-section a {
    color: white;
    text-decoration: none;
}

/* Hero Section CSS */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 400px 20px 400px;
    height: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    height: 250px;
}

.para.one {
    inline-size: 500px;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.para.two {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    overflow-wrap: break-word;
}

.info-section button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: 0;
    padding: 7px;
    width: 100px;
}

.image-section img{
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 500px;
}

/* Random Information Section CSS */

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin: 20px;
}

.header-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.box img{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 120px;
    width: 120px;
}

.box p {
    color: #797979;
    text-align: center;
}

/* Quote section CSS */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 40vh;
    padding: 20px 400px 20px 400px;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    color: #1F2937;
    font-weight: 700;
    text-align: end;
}

/* CTA Section CSS */

.cta-action {
    display: flex;
    height: 15vh;
    margin: 80px 400px 80px 400px;
    background-color: #3882F6;
    padding: 5px 60px 5px 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#first {
    font-weight: 800;
    font-size: 18px;
    color: #F9FAF8;
    margin: 0px 0px 5px 0px;
}

#second {
    margin: 0;
    color: #F9FAF8;
}

.cta-action button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 7px;
    padding: 5px 30px 5px 30px;
}

/* Footer Section CSS */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 10vh;
}